
@font-face {
    font-family: Jost;
    src: url(Jost-VariableFont_wght.ttf);
}
@font-face {
    font-family: Baskerville;
    src: url(BaskervilleF-Regular.otf);
}
@font-face {
    font-family: BaskervilleItalic;
    src: url(BaskervilleF-Italic.otf);
}
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono&display=swap');
body {
    font-family: 'Jost';
    font-weight: 350;
    font-size: 12.5pt;
}
a { 
    color: blue;
    cursor: pointer;
    text-decoration: none;
}
ul{
    list-style-type: none;
    margin-left: 0;
    padding-left:20px;
}
i {
    font-family: BaskervilleItalic;
    font-weight: normal;
    font-style: normal;
}
h1 {
    font-family: Jost;
    text-align: center;
    font-weight: 500;
    padding-top: 50px;
    color: rgb(96, 96, 96);
    font-size: 30pt;
}
h2 {
    font-family: Jost;
    font-weight: 500;
    color: rgb(96, 96, 96);
    font-size: 28pt;
}
h3 {
    font-family: Jost;
    font-weight: 500;
    color: rgb(96, 96, 96);
    font-size: 22pt;
}
h4 {
    font-family: Jost;
    font-weight: 500;
    color: rgb(96, 96, 96);
    font-size: 18pt;
}
h5 {
    font-family: Jost;
    font-weight: 500;
    color: rgb(96, 96, 96);
    font-size: 15pt;
}
#header {
    padding-top:20px;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    max-width: 800px;
    margin: 0 auto;
}
.content {
    max-width: 700px;
    padding-top: 20px;
    text-justify: inter-word;
    margin: 0 auto;
}
.whitepaper {
    display:flex;
    justify-content: center;
}
.whitepaperContent {
    max-width: 700px;
    overflow: hidden;
}
.outline {
    max-width:300px;
    font-size: 11pt;
    padding-right: 30px;
    color: rgb(96, 96, 96);
}
.notes {
    max-width:300px;
    width:100%;
    padding-left:10px;
    border-left:1.5px solid rgb(61, 124, 126);
    position:relative;
    left:20px;
    display:none;
}
.def {
    font-family: BaskervilleItalic;
    color:rgb(61, 124, 126);
}
.parentvalue {
    color: red;
}
.inverseattribute {
    color: blue;
}
.thm {
    font-style: italic;
    color: rgb(96, 96, 96);
    font-size: 15pt;
    padding-top: 10px;
}
.code {
    font-family:'Red Hat Mono', monospace;
    font-size: 11pt;
}
.codelink {
    font-family:'Red Hat Mono', monospace;
    font-size: 14pt;
    color: rgb(61, 124, 126);
    cursor:pointer;
}
.footer {
    margin: auto;
    padding-top: 30px;
}
.formal {
    font-family: 'Baskerville';
    font-weight: normal;
    font-size: 14.0pt;
    line-height: 1.3;
}
.diagram {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
.header-tab {
    font-family: Jost, sans-serif;
    font-size: 16pt;
    padding-right:50px;
    color: rgb(96, 96, 96);
    text-decoration: none;
    display:flex;
    cursor: pointer;
}
.blog-metadata {
    padding-bottom: 10px;
    font-size: 13pt;
    color: rgb(96, 96, 96);
    font-family: Baskerville;
}
#lynx-canvas {
    width: 100%;
    height: 500px;
    background-color:rgb(207, 207, 207);
}
